.space-between {
    justify-content: space-between;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px 50px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Roboto Mono';
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #000000;
      color: white;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */
.product-list-row {
    flex: 0 0 30%;
    border: 1px solid #c7c7c7;
    margin: 35px 0;
    position: relative;
}

.product-lg-img {
    margin: 0 auto;
    max-height: 320px;
    max-width: 100%;
    opacity: 1;
    visibility: visible;
    text-align: center;
    transition: opacity 1s ease-in-out;
    width: auto;
    margin-top: 25px;
}

.product-details {
    padding-left: 15px;
}

.bitter {
    font-family: 'Bitter';
}

.roboto-slab {
    font-family: 'Roboto Slab';
}

.roboto-mono {
    font-family: 'Roboto Mono';
}

.abs-top-rigt {
    position: absolute;
    top: 0px;
    right: 20px;
    font-family: 'Roboto Mono';
}

.add-tocart-btn-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Mono';
    z-index: 2;
}

.add-to-cart-btn {
    padding: 13px;
    background-color: black;
    color: white;
    border: none;
    width: 130px;
    display: none; 
    cursor: pointer;
}

.my-black-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.4;
    transition: 0.5s ease;
    display: none;
}

.product-list-row:hover .add-to-cart-btn,
.product-list-row:hover .my-black-layer {
    display: block;
    
}

/* .product-list-row:hover .my-black-layer {
    display: block;
} */