<div class="container">
    <div class="row">
        <div class="dropdown">
            <button class="dropbtn">Products</button>
            <div class="dropdown-content">
            <a href="#" (click)='getProducts("assorted")'>Assorted</a>
            <a href="#" (click)='getProducts("lipgloss")'>Lipgloss</a>
            <a href="#" (click)='getProducts("lipsticks")'>Lipsticks</a>
            <a href="#" (click)='getProducts("mascara")'>Mascara</a>
            <a href="#" (click)='getProducts("powder")'>Powder</a>

            <a href="#" (click)='getProducts("concealer")'>Concealer</a>
            <a href="#" (click)='getProducts("eyelash")'>Eyelash</a>
            </div>
          </div>
    </div>
</div>






<div *ngIf="products" class="container">
    <div class="row space-between">
        <div *ngFor="let item of products;let i = index" class="product-list-row">
            <img class="product-lg-img" [src]="item.large_image_url" alt="">

            <div class="product-details">
                <p class="bitter" style="border-bottom: 1px solid black;">{{item.name}}</p>
                <p class="roboto-mono">{{item.description}}</p>
                <p class="roboto-mono">TK {{item.price}}.00</p>
            </div>

            <div class="abs-top-rigt">
                <p>{{item.shade}}</p>
            </div>

            <div class="add-tocart-btn-box">
                <button (click)="addToTheCart(i)" class="add-to-cart-btn">Add to cart</button>
                <button (click)="productDetails(content, item)" class="add-to-cart-btn">Quick View</button>
            </div>
            <div class="my-black-layer"></div>

        </div>
    </div>
</div>

<!-- Product Content -->
<ng-template #content let-modal>
    <div class="modal-body modal-content-container">
        <div class="image-container">
            <div class="main-image">
                <img src="{{largeImage}}" class="img-fluid" />
            </div>
            <div class="thumb-image">  
                <ul class="thumb-list">
                    <li *ngFor="let quickviewimage of productContent.quick_view_images; let n = index" [ngClass]="{active: isActive(n)}" (click)="changeImage(quickviewimage, n)">
                        <img src="{{imageurl}}{{quickviewimage}}" class="img-fluid" width="50px"   />
                    </li>
                </ul>
            </div>
        </div>
        <div class="prod-details">
            <button type="button" aria-label="Close" class="modal-close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="prod-title">
                <span class="sku-number">{{productContent.sku}}</span>
                <h3>{{productContent.name}}</h3>
            </div>
            <div class="prod-price">
                <span class="price">TK {{productContent.price}}.00</span>
                <span class="size">{{productContent.size}}</span>
                <div class="shade">{{productContent.shade}}</div>
            </div>
            <div class="prod-desc">
                <p>{{productContent.description}}</p>
            </div>
            <div class="add-to-cart">
                <button type="button" (click)="addToTheCart(i)">Add to cart</button>
            </div>
        </div>
    </div>
</ng-template>